.hidden  {
    display: none;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}
.navItems {
    display: flex;
    justify-content: space-between;
}

.timer-text {
    display: flex;
    align-items: flex-end;

}

.firstScreen {
    display:flex;
    flex-flow: column;
    align-items: center;
    
}

button {
    background-color: purple;
    color: white;
}

.buttons {
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
}