.hidden  {
    display: none;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}
.navItems {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.timer-text {
    
    display: flex;
    align-items: flex-end;
    float: right;
}

.firstScreen {
    display:flex;
    flex-flow: column;
    align-items: center;
    
}

button {
    background-color: purple;
    color: white;
}

.buttons {
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.highScoreScreen {
    display:flex;
    flex-flow: column;
    align-items: center;
}

h3 {
    display: flex;
    flex-flow: row;
}

a {
    font-weight: bold;
    color: purple;
}